
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
	}
     
table {
    border-collapse: collapse;
    border-spacing: 0;
	}
a {
	text-decoration: none;
	}
/*end*/

body {	
	color: #25343F;
	}

h2 {
	font-size: 32px;
        margin-top: 5px;
	}

input {
	font-size: 15px;
	color: #25343F;
	border: 0px;
	margin: 0px;
	width: 40px;
	background-color: rgb(211,211,211);
	}

select {
	width: 50px;
	/*background-color: rgb(211,211,211);*/
	border: 0px;
	}

select.size {
	background-color: rgb(211,211,211);
	}

#mainContent {
	width: 800px;
	margin: 30px auto 30px auto;
	padding: 50px 20px 30px;
	background-color: rgb(211,211,211);
	}

h1 {
    text-align:center;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
    font-size: 39px;
    margin-top: 21px;
    margin-bottom: 10.5px;
    }      
        
#header {
	width: 100%;
	height: 100px;
	text-align: right;
        margin-bottom: 0px;
	}

#header h1 {
	margin-bottom: 10px;
	}
	
#header  i {
	color: rgb(181,0,0);
	font-size: 55px;
	text-shadow: 2px 2px 8px;
	}

#basket {
	margin: auto;
	}

#basket table {
	font-size: 18px;
	width: 100%;
	text-align: left;
	}

#basket table td, th {
	border-right: 2px solid #25343F;
	padding: 5px;
	text-align: center;
	}
	
#basket table th {
	font-size: 24px;
	padding-bottom: 10px;
	border: 0px;
	}
	
#basket table td.last{
	border:none;
	}
	
#basket i {
	cursor: pointer;
	}
	
#totalAmount {
	height: 80px;
	margin-top: 25px;
	text-align: right;
	}
	
#button {
	text-align: right;
	font-size: 65px;
	height: 110px;
	margin-right: 25px;
	}
	
#button a {
	color: #25343F;
	}

input.cost {
	width: 30px;
        text-align: center;
	}

input.title {
    width: 150px;
    text-align: center;
}
        
input.price {
    width: 30px;
    text-align: center;
}
.qty {
	text-align: center;
	width: 25px;
	}
	
.left {
	float:left;
	width: 450px;
	}

.left p {
	font-size: 14px;
	}
	
.right {
	font-size: 36px;
	margin-right: 20px;
	}

.right input {
	font-size: 36px;
	width: 130px;
	}

.hide {
	text-align: center;
	display: none;
	}

#button a:hover i {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 2s;
    color: rgb(181,0,0);
    text-shadow: 3px 3px 8px;
    }
