section {
    padding: 20px;    
    background: #FFFFFF;
    color: black;
}

section div.image {
    text-align: center;
}

img.img-thumbnail {
    background: #eee;
    width: 250px;
    height: 300px;
}

span {
    font-weight: bold;
}

div.liens {
    padding-top: 20px;
}

div.liens input {
    margin-bottom: 10px;
}

#myModalLabel {
    color: white;
}

