<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %}GetInspired - Accueil</title>
        
        {% block stylesheets %}
            {# Lien vers le thème Bootstrap #}
            <link href="{{ asset('css/bootstrap_css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
            {# asset() génère un chemin pour les fichiers qui se trouvent dans le répertoire web #}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />        
        {% endblock %}
    </head>
    <body>
<<<<<<< HEAD

=======
        <nav class="navbar navbar-default">
            <div class="container">
                
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">Get Inspired</a>                    
                    <a href=""><span class="glyphicon glyphicon-search"></span></a>  
                 </div>
          
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="">Films</a></li>
                        <li><a href="">Box</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rejoignez nous ! <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="">Créer un compte</a></li>
                                <li><a href="">Se connecter</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->   
            </div><!-- /.container -->
        </nav><!-- nav navbar-default -->
        {% block content %}{% endblock %}
        
        
        <footer>
            <div class="container">
                <p>GetInspired © 2017 - Tous droits réservés</p>
                <ul class="list-inline">
                    <li><a href="">Conditions d'utilisation</a></li>
                    <li><a href="">FAQ (Foire Aux Questions)</a></li>
                    <li><a href="">Mentions Légales</a></li>
                    <li><a href="">Contact</a></li>
                </ul>              
            </div>
        </footer>
>>>>>>> 81b40bfbe0e3613d5d4f818ade878142524f1c77
        {% block javascripts %}
            {# CDN jQuery #}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="{{ asset('js/bootstrap.min.js')}}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
