<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %}GetInspired - Accueil</title>
        
        {% block stylesheets %}
            {# Lien vers le thème Bootstrap #}
            <link href="{{ asset('css/bootstrap_css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
            {# asset() génère un chemin pour les fichiers qui se trouvent dans le répertoire web #}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />        
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <a class="navbar-brand" href="">Get Inspired</a>    
                <ul class="nav navbar-nav">
                    <li class="icon">
                        <span class="glyphicon glyphicon-search"></span>
                    </li>
                    <li>
                        <a href="">Films</a>
                    </li>
                    <li>
                        <a href="">Sections articles</a>
                    </li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="">Créer un compte</a>
                    </li>
                    <li>
                        <a href="">Se connecter</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
        
        
        
        {% block javascripts %}
            {# CDN jQuery #}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="{{ asset('js/bootstrap.min.js')}}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
