{% extends "layout.html.twig" %}

{% block title 'Password Profile' %}
    
{% block content %}

    <div class="container">
        <div class="starter-template">
            <h1 style="text-align:center;">Modifier votre mot de passe</h1><hr/>
        </div>
    </div><!-- /.container -->

    <div class="container"> 
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <form action="#" method="post" enctype="multipart/form-data">
                    
                    <div class="form-group">
                        <label>Nouveau mot de passe</label>
                        <input type="password" name="password" value="" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Confirmation mot de passe</label>
                        <input type="password" name="password_confirm" value="" class="form-control">
                    </div>
                    <div class="btn-group">
                        <a href="{{path('back_profile', {pseudo: user.pseudo})}}" class="btn" style="color:white; background-color: #df691a; padding: 10px; margin-right: 56px; width: 250px;"><i class="glyphicon glyphicon-arrow-left" style="color: white;"></i> Revenir au profil</a>
                        <button type="submit" class="btn btn-primary" style="padding:10px; width:250px;"> Enregistrer vos modifications</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- /.container -->			

{% endblock  %}{# empty Twig template #}{# empty Twig template #}
