{% extends "layout.html.twig" %}

{% block title 'Password Profile' %}
    
{% block content %}

    <div class="container">
        <div class="starter-template">
            <h1 style="text-align:center;"><span class="glyphicon glyphicon-user" style="margin-right: 20px;"></span>Modifier votre mot de passe</h1><hr/>
        </div>
    </div><!-- /.container -->

    <div class="container"> 
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <form action="#" method="post" enctype="multipart/form-data">
                    
                    <div class="form-group">
                        <label>Nouveau mot de passe</label>
                        <input type="password" name="password" value="" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Confirmation mot de passe</label>
                        <input type="password" name="password_confirm" value="" class="form-control">
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary" style="width:263px;"> Enregistrer vos modifications</button>
                        </div>

                        <div class="col-sm-offset-2 col-sm-4">
                            <button type="#" class="btn btn-primary" style="width:263px;"><a href="{{ path("user_profile") }}" style="color:white;">Revenir au profil</a></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div><!-- /.container -->			

{% endblock  %}{# empty Twig template #}{# empty Twig template #}
